* {
    font-family: 'Arvo';
}

.text-element {
font-size: 1.5em;
text-indent 30px;
}

.text-element:first-letter{
  color: green
  font-weight: normal
}
.hover-element {
    font-size: 1em;
    background-color: #545454;
    color: #c4c8c4;
    padding: 1em;
    text-align: right;
}

p.first-letter {
  color: rgb(240, 41, 14);
  font-size:30px;
}




body {
    font-size: 16pt;
    font-family: 'Arvo';
    background-color: rgba(224, 230, 25, 0.43);
    padding: 0;
    margin: 0;
}

.main-container {
    margin: auto;
    margin-top: 0;
    padding-top: 0;
    min-width: 600px;
    max-width: 1280px;
    background-color: #fff;
    clear: both;
}

.main-container menu {
    margin: 0;
    padding: 0;
    float: left;
    width: 25%;
    height: 1000px;
    background-color: rgb(185, 190, 198);
}

.site-name {
    padding: 1em 0.5em;
    margin-left: 0;
    font-weight: lighter;
    font-size: 1.5em;
    color: rgb(221, 196, 30);
    background-color: rgb(226, 56, 19);
}

.site-logo {
    margin: 0 auto;
    border-top: 3px outset #27435C;
    width: 75%;
    text-align: right;
}

.site-logo img {
    height: 200px;
    margin-top: -15px;
    margin-right: -10px;
}

.side.menuitem:hover {
    background-color: rgb(39, 153, 40);
    color: #fff;
}

.dropdown-content {
    display: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.side.menuitem.dropdown-item {
    font-size: 0.8em;
    padding-left: 2em;
    margin-top: 0.05em;
    background-color: rgb(213, 171, 23);
    color: #fff;
}

.dropdown:hover .dropdown-content .side.menuitem.dropdown-item:hover {
    background-color: #fff;
    color: rgb(49, 45, 236);
}

.main-container main {
    margin: 0;
    padding: 0;
    float: left;
    width: 75%;
    min-width: 400px;
    height: 100%;
    background-color: #fff;
}

.main-container h1 {
    text-align: center;
    font-weight: lighter;
    letter-spacing: 0.4em;
    word-spacing: 1em;
    padding: 2em 0 0 0;
    margin-top: 0 !important;
    color: #27435C;
    background-color: #fff;
}

.main-container p {
    padding: 2em;
    text-indent: 1.5em;
    line-height: 1.5em;
    text-align: justify;
    color: #27435C;
    margin-top: 0;
}
